{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'coordinacion/header.html' with active='new5' %}

<br>
<div class="table-responsive">
    <table id="example" class="table table-striped table-bordered display table-sm">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Postulante</th>
                <th class="text-center">Cargo</th>
                <th class="text-center">Nivel de inglés</th>

                <th class="text-center">Título</th>
                <th class="text-center">Colegio</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Fecha</th>
                <th class="text-center"></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for postulante in postulante %}

        {% if postulante.cargo.id == 6 or postulante.cargo.id == 7 %}
        {% else %}
        {% if postulante.liberar_coordinador == True %}
        {% else %}
        <tr>
            <td class="text-center">{{forloop.counter}}</td>
            <td class="text-center">
                <a onclick="return abrir_modal('{% url 'coordinacion:info' postulante.pk %}','Postulante')" data-toggle="tooltip"  title="Ver Información">{{postulante.nombre}} {{postulante.apellido_p}} {{postulante.apellido_m}}</a>
            </td>
            <td class="text-center">
                {{postulante.cargo}}
            </td>
            <td class="text-center">{{postulante.nivel_ingles}}</td>

            <td class="text-center">{{postulante.titulo}}</td>
            <td class="text-center">
                {{postulante.colegio1}}
            </td>

            {% if postulante.psicologa == False %}
            <td class="text-center"><span class="badge badge-pill badge-primary pulse">liberar</span></td>
            {%else%}
            {% if postulante.psicologa == True  %}
            <td class="text-center"><span class="badge badge-pill badge-danger ">En espera oferta laboral</span></td>

            {% endif %}
            {% endif %}
            <td class="text-center">{{postulante.enviada|date:"d/m/Y"}}</td>
            <td class="text-center"><a href="{% url 'coordinacion:rubricas' postulante.pk %}" class="btn btn-primary btn-sm"> Rúbrica</a></td>

            {% if user.coordinacion2 %}
            <td class="text-center"><p> </p></td>
            {% else %}
            {% if postulante.liberar_coordinador == False %}
            <td class="text-center"><a href="{% url 'coordinacion:liberar_c' postulante.pk %}" class="btn btn-primary btn-sm pulse"> Liberar</a></td>
            {% else %}
            <td class="text-center"><p> Liberado {% if postulante.psicologa1 == True %} a Daisy Lasen  {% endif %} {% if postulante.psicologa2 == True %} a María Francisca Molina  {% endif %} </p></td>
            {% endif %}
            {% endif %}

        </tr>
            {% endif %}
        {% endif %}
        {% endfor %}
        </tbody>
        <div id="popup"></div>

    </table>


</div>
<script>
    var modal;
    function abrir_modal(url, titulo)
    {
        modal = $('#popup').dialog(
        {
            title: titulo,
            modal: true,
            width: 900,
            resizable: false
        }).dialog('open').load(url)
    }

    function cerrar_modal()
    {
        modal.dialog("close");
    }
</script>
{% endblock %}